<ion-header>
    <ion-toolbar color="tertiary" >
        <ion-title class="ion-text-center">Compras</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button class="carrito" color="none">
        <ion-icon name="cart"></ion-icon>
    </ion-button>
    <ion-button class="search">
        <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button class="barras">
        <ion-icon name="barcode-outline"></ion-icon>
    </ion-button>
    <ion-item class="busqueda">
        <ion-input type="text" placeholder="PRODUCTO"></ion-input>
    </ion-item>
    <div class="car">
        <ion-slides pager="true" effect="cube" class="slide">
            <ion-slide class="slide">
                <h1>Slide 1</h1>
            </ion-slide>
            <ion-slide class="slide">
                <h1>Slide 2</h1>
            </ion-slide>
            <ion-slide class="slide">
                <h1>Slide 3</h1>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="imagen1">imagen 1</div>
    <div class="imagen2">imagen 2</div>
    <div class="imagen3"> imagen 3</div>
    <div class="imagen4"> imagen 4</div>
</ion-content>
<ion-footer>
    <ion-button class="btn1">Explorar</ion-button>
    <ion-button class="btn2">Lista de Compras</ion-button>
    <ion-button class="btn3">Embajador</ion-button>
    <ion-button class="btn4">Alta de Producto</ion-button>
</ion-footer>