.precio{
    position: relative;
    
    text-align: center;
    
}
.precioBajo{
    color: rgb(114, 172, 27);
}
.precio label{
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
    padding: 5px;
  
  
}
