.titulo {
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

ion-item {
    border: 1px solid #2f80ed;
    box-sizing: border-box;
    border-radius: 7px;
}

.img-div .img-add {
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    background: url(../../../assets/iconos/b0c51f52d633a086f3ad005ae15e7c60.png);
    transform: translate(-50%, 0%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    border-radius: 50%;
}

.img-div {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 150px;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.comentarios {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    /* or 143% */
    display: flex;
    align-items: center;
    color: #898989;
}

.caracteristicas {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    /* or 111% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

// $colors: ( primary: #488aff, secondary: rgb(81, 224, 85), danger: #f53d3d, light: #f4f4f4, dark: #222);
.boton {
    position: absolute;
    width: 150px;
    height: 28px;
    left: 60%;
    botton: 0px;
    box-sizing: border-box;
    border-radius: 10px;
}

.boton2 {
    position: absolute;
    width: 150px;
    height: 28px;
    right: 60%;
    botton: 0px;
    box-sizing: border-box;
    border-radius: 10px;
}

.ion-text-center {
    font-family: Papyrus;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.botonScan {
    width: 50px;
}