ion-input{
    margin-top: 5px;
    border:0.5px solid rgba(43, 34, 173, 0.685);
    border-radius: 10px;
}
.div-form{
    margin-left: 40px;
    margin-right: 40px;
}
.img-div{
    position: relative;
}
.img-div .img-add{
    position: relative;
    left: 50%;

    transform: translate(-50%,0%);
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;;
}
.img-div .img-label{
    position: absolute;
    left: 50%;
    bottom:  35%;
    background-color: rgba(0, 0, 255, 0.459);
    transform: translate(-50%,0%);
}
