.div{
    position: relative;
    height: auto;
    padding: 0px;
}

.oferta{
    position: relative;
    width: 40px;
    top: -8px;
    right: -110px;
}
.izq{
    position:absolute;
    right: 0px;
    margin-right: 20px;
}

.btn-ordenar{
    position: relative;
    width: 100%;
    text-align: center;
}
.btn-ordenar ion-button{
    width: 45%;
}
.tienda{
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
    padding: 5px;
}