.info-content{
    position: absolute;
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
  }
  ion-tittle{
    color: black;
  }
  ion-item{
    font-weight: bolder;
 
  }
