.content {
  position: relative;
  margin-left: 45px;
  margin-right: 45px;
}
.p1 {
  text-align: center;
}

.infProducto {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  text-align: center;
}
.infProducto img {
  position: relative;
  width: 75%;
  height: auto;
}
ion-input {
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}
ion-button {
  text-align: center;
  position: relative;
  bottom: 0px;
  margin-top: 20px;
}
p {
  text-align: center;
}
