<ion-header>

</ion-header>

<ion-content class="background" [fullscreen]="true">
    <ion-grid>
        <ion-row class="logo">
            <img class="img-add" alt="" />
        </ion-row>
        <ion-row class="alineacion">
            <ion-col class="titulo">
                <ion-label class="comentarios">ZAZA Usuario</ion-label>
            </ion-col>

        </ion-row>

        <ion-button type="submit" routerLink="/home" color="success" class="boton" expand="block" shape="round">
            Invitado
        </ion-button>





    </ion-grid>



</ion-content>