
// ion-content.background {
//     --background: url('../../../assets/restablecer.jpg') 0 0/100% 100% no-repeat;
// }

// ion-grid {
//     background-color: rgb(255, 255, 255);
//     border: 10px outset;
//     border-radius: 25px;
//     border-color: rgba(0, 0, 0, 0.664);
//     margin: 20px;
//     width: 90%;
//     height: 100%;
//     position: relative;
// }

ion-input  {
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 20px;
}
